<div class="nav-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
    <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button (click)="snav.toggle()" class="button-icon"><mat-icon>menu</mat-icon></button>
        <h1 class="app-name" routerLink="home">PokeHelper  <img style="width: 30px;" src="../../../assets/images/poke.gif"></h1>
    </mat-toolbar>
  
    <mat-sidenav-container class="sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Kanto
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-list-item routerLink="/kanto/pokedex" routerLinkActive="active">
                    <button  class="button-icon"><img style="width: 20px;" src="../../../assets/images/blast.gif">  Pokedex</button>
                  </mat-list-item>
                  <mat-list-item>
                    <button class="button-icon"><img style="width: 20px;" src="../../../assets/images/gengar.gif">  Gym Leaders</button>
                  </mat-list-item>
                  <mat-list-item>
                    <button class="button-icon"><img style="width: 20px;" src="../../../assets/images/ditto.gif">  Team Builder</button>
                  </mat-list-item>
                </mat-expansion-panel>
              </mat-accordion>
              <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <a>Johto</a>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>
              </mat-accordion>
              <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Hoenn
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>
              </mat-accordion>
              <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Sinnoh
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>
              </mat-accordion>
        </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>