<div class="nav-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
    <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button (click)="snav.toggle()" class="button-icon"><mat-icon>menu</mat-icon></button>
        <h1 class="app-name" (click)="goHome()">PokeHelper  <img style="width: 30px;" src="../../../assets/images/poke.gif"></h1>
    </mat-toolbar>
  
    <mat-sidenav-container class="sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list style="text-align: center;">
          <p><button class="regions" (click)="getRegions('Kanto')"><img class="region-icon" src="../../../assets/images/pokeball.png"> Kanto Red/Blue/Yellow <img class="region-icon" src="../../../assets/images/pokeball.png"></button></p>
          <p><button class="regions" (click)="getRegions('Johto')"><img class="region-icon" src="../../../assets/images/pokeball.png"> Johto Gold/Silver/Crystal <img class="region-icon" src="../../../assets/images/pokeball.png"></button></p>
          <p><button class="regions" (click)="getRegions('Hoenn')"><img class="region-icon" src="../../../assets/images/pokeball.png"> Hoenn Ruby/Sapphire/Emerald <img class="region-icon" src="../../../assets/images/pokeball.png"></button></p>
          <p><button class="regions" (click)="getRegions('Sinnoh')"><img class="region-icon" src="../../../assets/images/pokeball.png"> Sinnoh Diamond/Pearl <img class="region-icon" src="../../../assets/images/pokeball.png"></button></p>
          <p><button class="regions" (click)="getRegions('Sinnoh2')"><img class="region-icon" src="../../../assets/images/pokeball.png"> Sinnoh Platinum <img class="region-icon" src="../../../assets/images/pokeball.png"></button></p>
          <p><button class="regions" (click)="getRegions('Johto2')"><img class="region-icon" src="../../../assets/images/pokeball.png"> Johto HeartGold/SoulSilver <img class="region-icon" src="../../../assets/images/pokeball.png"></button></p>
          <p><button class="regions" (click)="getRegions('Unova')"><img class="region-icon" src="../../../assets/images/pokeball.png"> Unova Black/White <img class="region-icon" src="../../../assets/images/pokeball.png"></button></p>
          <p><button class="regions" (click)="getRegions('Unova2')"><img class="region-icon" src="../../../assets/images/pokeball.png"> Unova Black/White 2 <img class="region-icon" src="../../../assets/images/pokeball.png"></button></p>
          <p><button class="regions" (click)="getRegions('Kalos')"><img class="region-icon" src="../../../assets/images/pokeball.png"> Kalos x/y Central <img class="region-icon" src="../../../assets/images/pokeball.png"></button></p> 
          <p><button class="regions" (click)="getRegions('Kalos2')"><img class="region-icon" src="../../../assets/images/pokeball.png"> Kalos x/y Coast <img class="region-icon" src="../../../assets/images/pokeball.png"></button></p>
          <p><button class="regions" (click)="getRegions('Kalos3')"><img class="region-icon" src="../../../assets/images/pokeball.png"> Kalos x/y Mountain <img class="region-icon" src="../../../assets/images/pokeball.png"></button></p>
          <p><button class="regions" (click)="getRegions('Hoenn2')"><img class="region-icon" src="../../../assets/images/pokeball.png"> Hoenn Omega Ruby/Alpha Sapphire <img class="region-icon" src="../../../assets/images/pokeball.png"></button></p>
          <p><button class="regions" (click)="getRegions('Alola')"><img class="region-icon" src="../../../assets/images/pokeball.png"> Alola Sun/Moon <img class="region-icon" src="../../../assets/images/pokeball.png"></button></p>
          <p><button class="regions" (click)="getRegions('Alola2')"><img class="region-icon" src="../../../assets/images/pokeball.png"> Alola Ultra Sun/Ultra Moon <img class="region-icon" src="../../../assets/images/pokeball.png"></button></p>
          <p><button class="regions" (click)="getRegions('Kanto2')"><img class="region-icon" src="../../../assets/images/pokeball.png"> Kanto Let's Go Pikachu/Eevee <img class="region-icon" src="../../../assets/images/pokeball.png"></button></p>
          <p><button class="regions" (click)="getRegions('Galar')"><img class="region-icon" src="../../../assets/images/pokeball.png"> Galar Sword/Shield <img class="region-icon" src="../../../assets/images/pokeball.png"></button></p>
          
        </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>