<div class="nav-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
    <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button (click)="snav.toggle()" class="button-icon"><mat-icon>menu</mat-icon></button>
        <h1 class="app-name" routerLink="home">PokeHelper  <img style="width: 30px;" src="../../../assets/images/poke.gif"></h1>
    </mat-toolbar>
  
    <mat-sidenav-container class="sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list style="text-align: center;">
          <p><button class="regions" routerLink="/kanto/pokedex" routerLinkActive="active"><img class="region-icon" src="../../../assets/images/pokeball.png"> Kanto</button></p>
          <p><button class="regions" routerLink="/sinnoh/pokedex"><img class="region-icon" src="../../../assets/images/pokeball.png"> Hoenn</button></p>
          <p><button class="regions" routerLink="/sa/pokedex"><img class="region-icon" src="../../../assets/images/pokeball.png"> Sinnoh</button></p>
        </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>