
<div class="body">
    <mat-card class="container">
      
      <mat-grid-list cols="2" rowHeight="10:1" *ngFor="let pokemon of pokemons">
        <div *ngIf="pokemon">
          <div *ngIf="pokemon == pokemons[0]" >
            <mat-grid-tile class="back"><strong> Nº </strong></mat-grid-tile>
            <mat-grid-tile class="back"><strong> Name </strong></mat-grid-tile>
          </div>
          <div class="border" (click)="getSelected(pokemon)">
            <mat-grid-tile > <span>{{pokemon.number}}</span> </mat-grid-tile>
            <mat-grid-tile> <span>{{pokemon.name}}</span> </mat-grid-tile>
          </div>
        </div>
      </mat-grid-list>
    </mat-card>
</div>