.container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 3%;
}
.body{
    width: 100%;
    height: 100%;
    background-color: #bdbdbd;
}
img{
    width: 40%;
    padding-left: 30%;
    padding-right: 30%;
}
.text{
    width: 60&;
    margin-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    font-family: quicksand;
}
