<div class="body">
    <mat-card class="container">
        <img src="../../../assets/images/title.png">
        <div class="text">
            <h4>Welcome to PokeHelper!</h4>
            <p>
                In this website you will find the Pokedex of every single game of Pokemon until the date; you will get unlimited access
                to the Pokemons details by clicking on them. This website uses PokeApi to get the data that will be displayed in your screen
                making sure you do as less number of calls as possible; we want to remind the users that this website is still in development so we will be 
                updating and improving it along the time. <br>
                Thank you very much for joining this App, hope you enjoy it!
            </p>
        </div>
    </mat-card>
</div>
