
.container{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 0 !important;
    margin-top: 20px;
    margin-bottom: 100px;
    text-align: center;
    
}
mat-chip{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 10px;
    pointer-events: none;
}
mat-grid-list{
    width: 80%;
    margin-left:10%;
    margin-right:10%;
    padding-bottom: 65% !important;
    background-color: white;
}
.back{
    background-color: red;
}
span::first-letter{
    text-transform: uppercase;
}

.list{
    border: 1px solid black;
}
.upper::first-letter{
    text-transform: uppercase;
}

.grass{
    background-color: rgb(88, 172, 88);
}
.fire{
    background-color: rgb(236, 96, 96);
}
.water{
    background-color: rgb(58, 144, 194);
}
.ice{
    background-color: rgb(151, 209, 243);
}
.poison{
    background-color: rgb(134, 71, 139);
}
.flying{
    background-color: rgb(76, 241, 164);
}
.bug{
    background-color: rgb(133, 250, 87);
}
.electric{
    background-color: rgb(255, 234, 49);
}
.rock{
    background-color: rgb(129, 99, 65);
}
.ground{
    background-color: rgb(247, 191, 107);
}
.steel{
    background-color: rgb(141, 141, 141);
}
.psychic{
    background-color: rgb(253, 98, 220);
}
.fairy{
    background-color: rgb(255, 176, 251);
}
.fighting{
    background-color: rgb(153, 136, 80);
}
.ghost{
    background-color: rgb(76, 63, 114);
}
.dragon{
    background-color: rgb(16, 109, 145);
}
img{
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
}
@media (max-width: 600px)and (min-width: 300px)  {
   *{
       font-size: 7px;
   }
   
}
@media (max-width: 900px)and (min-width: 300px)  {
    mat-chip{
     padding: 0px;
     margin-right: 0px;
     border: 1px solid black;
     border-radius: 10px;
     pointer-events: none;
 }
}