/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: blackops;
    src: url(assets/fonts/blackops.ttf) format("truetype");
}
@font-face {
    font-family: merri;
    src: url(assets/fonts/merriweather.ttf) format("truetype");
}
@font-face {
    font-family: quicksand;
    src: url(assets/fonts/quicksand.ttf) format("truetype");
}
